* {
  margin: 0;
  padding: 0;
  border-style: none;
  font-family: "Noto Sans KR", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9f3f0;
  display: flex;
}

hr {
  margin: 20px;
  border: black 1px solid;
}

textarea {
  margin: 10px;
  min-width: 400px;
  border-style: none;
  resize: none;
  background-color: #f9f3f0;
  border-radius: 5px;
}

textarea::placeholder {
  text-align: center;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  text-align: center;
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  align-items: center;
}

.container {
  margin-top: 50px;
  width: 100%;
  min-width: 1340px;
}

/* 사이드바의 너비 높이를 변수로 지정 */
:root {
  --side-bar-width: 190px;
  --side-bar-height: 100vh;
}

.side-bar {
  z-index: 1;
  position: fixed;
  background-color: #056365;
  width: var(--side-bar-width);
  min-height: var(--side-bar-height);
  transition: 0.5s;
}

.side-bar > ul {
  margin-top: 20px;
}

.side-bar > ul > li {
  font-size: x-large;
}

@media (min-width: 1000px) {
  .side-bar {
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);
  }
}

@media (max-width: 1000px) {
  .side-bar {
    transform: translate(calc(var(--side-bar-width) * -0.9), 0);
  }
}

/* 모든 메뉴의 a에 속성 값 부여 */
.side-bar ul > li > a {
  display: block;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  background-color: #056365;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-bar ul > li:hover > a {
  background-color: #f9f3f0;
  color: black;
}

.side-bar:hover {
  transform: translate(-20px, 0);
}

.main-frame {
  background-color: #ffffff;
  width: inherit;
  min-width: inherit;
  border-radius: 5px;
  height: 100%;
  max-height: 700px;
}

.top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.search {
  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  text-indent: 10%;
}

.search-btn {
  width: 60px;
  height: 30px;
  background-color: #056365;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0;
  padding-top: 20px;
}

.list-view {
  margin: 0 20px 0;
  max-height: 600px;
}

.list-header {
  text-align: center;
}

.list-body {
  max-height: 550px;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.list-body::-webkit-scrollbar {
  display: none;
}

.table-header {
  width: 100%;
  min-width: 215px;
  min-height: 25px;
  background-color: #d9d9d9;
  font-weight: bold;
}

.v-line {
  border-left: 1px solid black;
}

.list-rows {
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  min-height: 25px;
}

.table-value {
  width: 100%;
  min-width: 215px;
  text-align: center;
}

.form-state {
  display: flex;
  justify-content: space-around;
}

.select-user-state-modify {
  text-align: center;
}

.state-btn {
  background-color: #71cb9f;
  border-radius: 5px;
  border-color: transparent;
  width: 100px;
}

.register-btn {
  width: 100px;
  height: 30px;
  background-color: #056365;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
}

.isbn {
  color: #71cb9f;
  cursor: pointer;
}

.isbn:hover {
  background-color: #056365;
  color: #ffffff;
}

.modal-left-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.filebox {
  margin: 30px 0px;
}

.filebox label {
  cursor: pointer;
  border-radius: 5px;
  background-color: #71cb9f;
  display: inline-block;
  height: 45px;
  width: 180px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  font-size: larger;
}

/* 파일 필드 숨기기 */
.filebox input[type="file"] {
  position: absolute;
  overflow: hidden;
  padding: 0;
  width: 0;
  height: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@media (max-width: 1000px) {
  .modal-dialog {
    width: auto;
    min-width: 800px;
  }
}

.edit-container {
  display: flex;
  justify-content: space-around;
}

.modal-right-div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.normal-input {
  min-width: 400px;
  min-height: 30px;
  margin: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #f9f3f0;
  text-align: center;
}

.normal-input::placeholder {
  text-align: center;
}

.book-intro {
  max-height: 100px;
}

.book-chapter {
  max-height: 150px;
}

.book-content {
  max-height: 200px;
}

.remove-btn {
  height: 45px;
  width: 180px;
  background-color: #ff8686;
  border-radius: 5px;
  font-size: larger;
  border-style: none;
  margin: 30px 0px;
}

.book-edit-btn {
  height: 45px;
  width: 180px;
  font-size: larger;
  margin: 30px 0px;
  background-color: #056365;
  color: #ffffff;
  border-radius: 5px;
}

#rentcount {
  display: block;
}

#recently {
  display: none;
}

#image {
  width: 290px;
  height: 390px;
}

#select-order {
  height: 30px;
  margin-left: 20px;
  background-color: #eeeeee;
  border-style: none;
  border-radius: 5px;
}
