body {
    background-color: #F9F3F0;
}

.index-nav{
    background-color: #056365;
}

.btn1{
    background-color: #71CB9F;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 8px;
}

.btn2 {
    background-color: #FDF3A7;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 5px;
}



.navbar{
    height: 50px;
}

.container-fluid{
    top: 50%;
    margin-top: -5px;
}