*::-webkit-scrollbar{
    width: 8px;
    height: 7px;
}

/* 스크롤바 막대 설정*/
*::-webkit-scrollbar-thumb{
    width: 18%;
    background-color: rgba(5,99,101,0.8);
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
*::-webkit-scrollbar-track {
    background-color: rgba(196, 228, 212, 0.5);
    border-radius: 5px;
}

#select1 {
    /*float: left;*/
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: #056365;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    transition-duration: 0.3s;
    display: inline-block;
    margin-left: 540px;
    font-size: 13px;
    margin-top: 3px;
    color: white;
}

#select1:active {
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    box-shadow: none;
}

#select2 {
    /*float: left;*/
    width: 50px;
    height: 20px;
    background-color: #056365;
    border-radius: 5px;
    box-shadow:1px 1px 1px black;
    transition-duration: 0.3s;
    display: inline-block;
    margin-left: 600px;
    font-size: 13px;
    color: white;
}

#select2:active {
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    box-shadow: none;
}


body {
    background-color: #F9F3F0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;
    width: 850px;
    min-width: 850px;
    text-align: center;
    margin-top: 100px;
}

.container-fluid{
    top: 50%;
    margin-top: -5px;
}


.index-nav{
    background-color: #056365;
}

.btn1{
    background-color: #71CB9F;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 8px;
}

.btn2 {
    background-color: #FDF3A7;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 5px;
}

.navbar{
    height: 50px;
}

/* .container-fluid{
    top: 50%;
    margin-top: -5px;
} */

.search-bar{
    background-color: white;
    width: 700px;
    border-radius: 10px;
    margin: 5px auto;
    /* margin-top: 50px; */
}

.search-input{
    margin-left: 150px;
}

input{
    border-color: transparent;
    text-align: center;
}

.book-option:hover{
    background-color: #056365;
    color: white;
}

select {
    margin-left: 20px;
    margin-top: 8px;
    border-color: transparent;

}

.search-lens{
    margin-left: 180px;
    margin-bottom: 3px;
}

.title{
    margin-left: 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #056365;
}

.search-keywords{
    margin-top: 10px;
}

.search-keywords > ul > li {
    transition: text-shadow 0.3s ease-in-out;
    margin: 0 20px;
}

.search-keywords > ul > li:hover{
    cursor: pointer;
    text-shadow: 5px 2px 4px rgba(78, 78, 78, 0.4);
}

.book-ul{
    margin-left: 10px;
}

.book-box{
    width: 800px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    align-items: center;

}

.book-list{
    position: relative;
    background-color: #f1e3dc;
    width: 125px;
    height: 210px;
    margin: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 초기 그림자 없음 */
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;

}

.book-list:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

ul{
    list-style: none;

}

.book-box > ul{
    display: flex;
    text-align: center;
    flex-wrap: wrap;

}

li{
    display: inline-block;
}

.book-cover{
    /* position: absolute; */
    display: inline-block;
    margin-top: 10px;
    /* margin-right: 50px; */
    width: 108px;
    height: 150px;
}

.book-title{
    width: 110px;
    margin-top: 4px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
}

.book-author{
    font-size: 12px;
}

.modal-body{
    overflow-y: scroll;
    height: 750px;
}

.modal-footer{
    justify-content: center;
}

.modal-close{
    background-color: #056365;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 8px;
    color: #F9F3F0;
}

.modal-xl{
    width: 700px;
}


@media(max-height: 750px) {
    .modal-body{
        height: 530px;
    }

    .container{
        margin-top: 10px;
    }
}

@media(max-width: 390px){
    .container{
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center;
        width: 300px;
        min-width: 300px;
        text-align: center;
        margin: 30px 0 0 13px;
    }
    .search-bar{
        width: 310px;
        /* padding-bottom: 5px; */
    }
    .book-select{
        margin: 0px;
    }
    .search-input{
        margin-left: 30px;
        width: 120px;
    }
    .search-lens{
        margin-left: 30px;
        width: 30px;
    }
    .search-keywords > ul > li {
        margin: 0 3px;
        padding-left: 0;
    }
    .book-box{
        width: 350px;
        margin: 0 auto;
    }
    .book-list {
        width: 125px;
        height: 210px;
    margin: 3px 7px;
    }
    .book-ul{
        padding-left: 5px;
    }
    .modal-content{
        height: 600px;
    }
    .modal-xl{
        width: 355px;
    }
    .show{
        height: 800px;
    }
    .btn1{
        font-size: 12px;
    }
    .btn2{
        font-size: 12px;
    }
    #select1{
        margin-left: 225px;
    }
    #select2{
        margin-left: 170px;
    }

}
